__workshop
tmp

# Common
**/.vscode
**/logs
**/workDirs
**/target

# externalSystem
externalSystem/**/__pycache__
externalSystem/envs/development.env
externalSystem/envs/production.env
externalSystem/.flaskenv

# frontend
frontend/node_modules